<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gabble-Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Gabble</h1>
  <h1>Welcome {{signedInUser}}</h1>
  <form class="" action="/gabble/" method="post">
    <input type="text" name="newPost" value="" placeholder="What you want to Gab about?">
  <button class="btn waves-effect waves-light orange" type="submit" name="action">Create Gab
      <i class="material-icons right">send</i>
    </button>
  </form>
  {{#model}}



  <a href="/gabble/{{id}}">
    <div class="gab">
      <p>@{{users.username}}</p>
      <p>{{gab}}</p>
      <p>{{createdAt}}</p>
      <span>
      <form class='like' action="/gabble/like/{{id}}" method="post">
        <button class="btn-floating btn-large waves-effect waves-light orange" name="like"><i class="material-icons">thumb_up</i></button>
      </form>
      {{likesNumber}}
    </span>
    <span>
      <form class="delete" action="/gabbe/delete/{{id}}" method="post">
        <button class="btn-floating btn-large waves-effect waves-light orange" name="delete"><i class="material-icons">delete</i></button>
      </form>
    </span>
        <p>{{message}}<p>
          <div>
          </a>
          {{/model}}
          <!-- <h1>{{username}}</h1> -->
          <!-- {{#model}}

          <fieldset class="section">
          <form class="" action="/addLikes/{{id}}" method="get">
          <p>{{user.name}}: {{text}}
          <span>
          <input type="submit" name="like" value="like" id="{{id}}">
        </form>
      </span>
    </p>
    <p>{{createdAt}}
  </p>
  {{#UserLikes.length}}
  <form class="numOfLikes" action="/likes/{{id}}" method="get">
  <input type="submit" name="" value="{{.}} like(s)" id="{{id}}">
</form>
{{/UserLikes.length}}
{{^UserLikes.length}}
<span>
<form class="numOfLikes" action="/viewLikes/{{id}}" method="get">
<input type="submit" name="" value="no likes yet" id="{{id}}">
</form>
{{/UserLikes.length}}


{{#showDeleteIfOwner}}
{{loggedInUser}}
{{/showDeleteIfOwner}}
</span>
</fieldset>
{{/model}} -->
</body>
</html>
