<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble-Likes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">

  </head>
  <body>
    <nav class="orange">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/gabble/" class="brand-logo center">Gabble</a>
          <ul class="left hide-on-med-and-down">
              <li>Welcome {{signedInUser}}</li>
          </ul>
          <ul  class="right hide-on-med-and-down">
              <form class='signout' action='/gabble/signout' method='post'>
                <div class="input-field">
                  <li>
                    <button class="btn-flat waves-effect waves-light orange" type="submit" name="action">Sign Out

                  </button>
                </li>
                </div>
              </form>
          </ul>
        </div>
      </div>
    </nav>
      <main>

        <div class="container">
          <h1>Likes</h1>
        </div>
          <div class="divider"></div>

<div class="container">


          {{#model}}
          <div class="card-panel grey darken-4">
            <span class="card-title">@{{users.username}} - {{createdAt}}</span>
            <h3 class="orange-text">{{gab}}</h3>
          </div>
      <ul>
        {{#likes}}
        <li class="likes"><h4>- {{.}}</h4></li>
        {{/likes}}
      </ul>
          {{/model}}
        </div>

  </main>
  </body>
</html>
