<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble-Likes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">

  </head>
  <body>
    <ul id="dropdown1" class="dropdown-content">
      <li>
        <form class='signout' action='/gabble/signout' method='post'>
          <div class="input-field">
            <li>
              <button class="btn-flat waves-effect waves-light center" type="submit" name="action">Sign Out

            </button>
          </li>

          </div>
        </form>
      </li>

    </ul>
      <nav class="orange">
        <div class="container">
          <div class="nav-wrapper">
            <a href="/gabble/" class="brand-logo center">Gabble</a>


                <ul class="right hide-on-med-and-down">
                <li ><a class="white-text dropdown-button btn-flat" href="#!" data-activates="dropdown1">{{signedInUser}}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <main>




<div class="container">


          {{#model}}
          <div class="card-panel grey darken-3">
            <span class="card-title">@{{users.username}} - {{createdAt}}</span>
            <h3 class="orange-text">{{gab}}</h3>
          </div>
      <ul class="collection with-header col m5">
        <li class="collection-header black"><h1 >Likes</h1></li>
        {{#likes}}
        <li class="collection-item avatar likes grey darken-3 ">
          <i class="material-icons circle orange">
account_circle</i>
          <h4> {{.}}</h4>
        </li>
        {{/likes}}
      </ul>
          {{/model}}
        </div>
        <div class="fixed-action-btn">
          <a href="/gabble/" class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">message</i></a>
        </div>
  </main>
  <script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script>
    $(".dropdown-button").dropdown();
  </script>
  </body>
</html>
