*{
color: #FFF;
}
body{
  background: #000;
  text-align: center;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #F66733;
     box-shadow: 0 1px 0 0 #F66733;
}
.btn{
  background: #F66733
}
